<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pawdaw.election_calculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".controller.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--The list of the candidates consist checkBox with button.-->
        <activity
            android:name=".controller.CandidatesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/candidates">
        </activity>

        <!--summarize of the vote-->
        <activity
            android:name=".controller.SumUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/summarize">
        </activity>

        <!--bar chart of the vote-->
        <activity
            android:name=".controller.BarChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/bar_chart">
        </activity>



    </application>

</manifest>